<div class="home-cards">
  <div class="column">
    <%= link_to '#' do %>
    <div class="home-card " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/v1593211585/Db_20x_20Do_20You_20Travel_20_20Gypsea_20Lust_20-_20Photo_20by_20Fabian_20Wester_2022-3_720_sezwh4.jpg)">
      <div class="home-card-content">
        <h5>UP TO 50% OFF</h5>
        <p>Db Archive Summer Sale</p>
        <%= link_to 'SHOP NOW', '#', class: 'btn-home'%>
      </div>
    </div>
    <% end %>
    <%= link_to '#' do %>
    <div class="home-card secondary" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/v1593211716/adamklingeteg_Oslo_Norway_DouchebackBLACK_3289_720_ni3zyf.jpg)">
      <div class="home-card-content">
        <h5></h5>
        <p>Hola</p>
        <%= link_to 'READ', '#', class: 'btn-home'%>
      </div>

    </div>
    <% end %>
  </div>
  <div class="column">
    <%= link_to  '#' do %>
    <div class="home-card secondary" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_714/v1593211617/_DSC1077_ofxtm7.jpg)">
      <div class="home-card-content">
        <h5></h5>
        <p>Hola</p>
        <%= link_to 'SHOP NOW', '#', class: 'btn-home'%>
      </div>
    </div>
    <%end %>
    <%= link_to  '#' do %>
    <div class="home-card " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_1125/v1593211668/oskarbakke_bennified_102_DSC0615-3_1440_ovovaj.jpg)">
      <div class="home-card-content">
       <h5></h5>
       <p>Hola</p>
       <%= link_to 'JOIN NOW', '#', class: 'btn-home'%>
     </div>
   </div>
   <% end %>
 </div>
</div>
