<h2><%= link_to 'Products', products_path  %></h2>
<div class="product-show-wrapper">
  <div class="product-show-image">
    <img src="<%= @product.photo %>" alt="<%= @product.title %>-photo">
  </div>
  <div class="product-show-content">
    <h2><%= @product.title %></h2>
    <h3><%= @product.subtitle %></h3>
    <h4>SELECT STYLE</h4>
    <%= render 'products_links' %>
    <p><%= @product.description %></p>
    <%= link_to 'See technical specipications >', '#' %>
  </div>
  <div class="product-show-price">
    <div>
      <p>Amount: <%= @product.price %></p>
    </div>
    <div>
      <% if @product.stock >= 1 %>
      <%= form_tag line_items_path do %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= submit_tag 'ADD TO CART', class: 'btn btn-product' %>
      <% end %>
      <% else %>
      <button class="btn btn-product disabled ">AGOTADO</button>
      <% end %>
    </div>
  </div>
  <div class="product-content-footer">
    <p>All duties paid. Always free returns.</p>
    <p>****** 120 Reviews</p>
  </div>
</div>






