<div class="line-wrapper">
  <div class="line-image">
    <img src="<%= line_item.product.photo%>" alt="">
  </div>
  <div class="line-content">
      <h2><%= line_item.product.subtitle %></h2>
      <%= simple_form_for line_item do |f| %>
      <% numbers = (1..20) %>
      <% stock = numbers.select do |number| %>
      <% product_stock = line_item.product.stock %>
      <%  number < product_stock %>
      <% end %>
      <%= f.input :quantity, :collection =>  stock, label: false, :input_html => { onchange: 'this.form.submit()', class: 'quantity-form' }  %>
      <% end %>
    <div class="line-price">
      <p><strong>PRECIO:</strong> <%= number_to_currency(line_item.total_price) %></p>
    </div>
    <div class="line-description">
      <%= link_to 'Quitar Articulo', line_item, method: :delete, data: { confirm: "Are you sure? " }  %>
    </div>
  </div>
</div>


<style>
  .quantity-form {
    width: 80px;
    border: none;
    background-color: transparent;
  }
</style>
